@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.header-container {
  width: auto;
  height: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 40px;
  padding-right: 36px;
  padding-left: 24px;
  padding-bottom: 15px;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-right: auto;
  width: auto;
  height: 20px;
  margin-left: 24px;
}

.my-menu {
  width: 18px;
  height: 12px;
  right: 35px;
  top: 6px;
  padding: 15px;
  display: none;
}

.desktop-nav {
  display: none;
}

/* side menu */
.mobileNavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #6070ff;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

/* links */
.mobileNavigation a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  transition: 0.3s;
  line-height: 44px;
  display: flex;
  padding-left: 28px;
  padding-top: 28px;
}

/* close button */
.mobileNavigation .killnav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.body {
  background-color: #e5e5e5;
  margin: 0;
}

.container1 {
  display: grid;
  background-image: url(./images/header-shapes-desktop.svg);
  background-position: center bottom;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom-left-radius: 70px;
  width: auto;
  height: auto;
}

.introh1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  line-height: 52px;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 106px;
}

.intro-p {
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.introh2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
}

.hp-socials {
  margin-bottom: 136px;
  margin-left: 24px;
  padding-left: 1px;
}

.ls {
  display: inline;
  list-style: none;
  padding-right: 10px;
}

.socials {
  margin-bottom: 13px;
}

.works {
  display: grid;
  align-content: center;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
}

.card1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card1-h {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px;
  margin-bottom: 1px;
  margin-left: 1%;
}

.card1-ul1 {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 16px;
  width: 236px;
  margin-top: 20px;
  margin-left: 1px;
  list-style-type: none;
}

.card1-canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card1-back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card1-2015 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card1-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 1%;
  margin: 1px;
}

.card1-ul2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  padding-left: 0%;
  gap: 8px;
  width: 214px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 0%;
}

.card1-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.card1-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 49px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.card1-javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 92px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

/* card two starts from here */
.card2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: auto;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
  margin-right: 24px;
  margin-left: 24px;
}

.card2-h {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px;
  margin-bottom: 1px;
  margin-left: 0;
}

.card2-ul1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 236px;
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

.card2-canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card2-back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card2-2015 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card2-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card2-ul2 {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  padding-bottom: 20px;
  padding-top: 16px;
}

.card2-ul2 li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  /* box */
  align-items: center;
  padding: 4px 12px;
  width: auto;
  height: auto;
  background: #EBEBFF;
  border-radius: 8px;
}

/* card three starts from here */

.card3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
  margin-right: 24px;
  margin-left: 24px;
}

.card3-h {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px;
  margin-bottom: 1px;
  margin-left: 0;
}

.card3-ul1 {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 16px;
  width: 236px;
  margin-top: 20px;
  margin-left: 1px;
  list-style-type: none;
}

.card3-canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card3-back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card3-2015 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card3-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card3-ul2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  padding-left: 0%;
  gap: 8px;
  width: 214px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 0%;
}

.card3-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  transition: transform 0.3s ease-out;
}

.card3-button:hover {
  background-color: #6070ff;
  color: white;
  transform: translateX(10px);
}

.card3-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

/* card four starts from here */
.card4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
  height: auto;
}

.card4-h {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px;
  margin-bottom: 1px;
  margin-left: 1%;
}

.card4-ul1 {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 16px;
  width: 236px;
  margin-top: 20px;
  list-style-type: none;
}

.card4-canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card4-back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card4-2015 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card4-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 1px;
}

.card4-ul2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  padding-left: 1%;
  gap: 8px;
  width: 214px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 1%;
}

.card4-paragraph1 {
  display: none;
}

.card2-canopy1 {
  display: none;
}

.card2-paragraph1 {
  display: none;
}

.card2-back-end-dev1 {
  display: none;
}

.card2-html2 {
  display: none;
}

/* card about my self starts from here */

.container2 {
  background-color: white;
  width: auto;
  height: auto;
  border-top-right-radius: 90px;
  padding-bottom: 200px;
}

.about-section1 {
  align-content: center;
  margin-top: 114px;
  padding-top: 80px;
}

.about-myself-intro {
  display: flex;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  line-height: 52px;
  align-items: center;
  margin-bottom: 12px;
}

.about-my-self-intro-p {
  color: #344563;
  margin-left: 24px;
  margin-right: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.about-my-self-introh2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 234px;
}

.get-my-resume-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 24px;

  /* Text */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: white;
  transition: transform 0.3s ease-out;
}

.get-my-resume-button:hover {
  background-color: #6070ff;
  color: white;
  transform: translateX(10px);
}

.get-my-resume-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.language-header {
  display: grid;
  height: 24px;
  left: 12px;
  right: 78px;
  margin-bottom: 300px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #344563;
}

.list-of-lang {
  padding-left: 0.2px;
  padding-right: 36px;
}

.about-myself-js {
  display: flex;
  align-items: center;
  width: 60%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  list-style: none;
  margin-top: 12px;
  gap: 10px;
  padding-left: 2%;
  color: #253858;
}

.main-ul {
  display: grid;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  margin-right: 36px;
  height: auto;
}

/* Contact me */

.contact-me {
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/contact_form_shapes_mobile.png);
  background-color: #0015d6;
  border-top-left-radius: 100px;
  height: auto;
  padding: 100px 24px;
}

.contact-me-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: white;
  text-align: center;
  padding-top: 103px;
}

.contact-me-section {
  margin-top: -130px;
}

.contact-me-p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  color: #ebebff;
  margin-top: 12px;
  margin-bottom: 50px;
  margin-left: 4px;
  margin-right: 4px;
}

.contact-me-desktop {
  display: none;
}

.form-ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style-type: none;
  padding-left: 1px;
  padding-right: 14px;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #172b4d;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 48px;
  width: 100%;
}

#form-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.03em;
  color: #172b4d;
  left: 24px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

#form-name::placeholder {
  color: #172b4d;
  padding-left: 16px;
}

#form-email::placeholder {
  color: #172b4d;
  padding-left: 16px;
}

#form-message::placeholder {
  color: #b3bac5;
  padding-left: 16px;
  padding-top: 14px;
}

#submit-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  border: 1px solid #7f8cff;
  border-radius: 8px;

  /* Text */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: white;
  transition: transform 0.3s ease-out;
}

#submit-button:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  transform: translateX(10px);
}

#submit-button:active {
  background: #2230d2;
  border-radius: 8px;
}

.introh1,
.intro-p,
.introh2,
.socials {
  opacity: 0;
  transform: translateY(-60px);
  animation-name: h1animation;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes h1animation {
  0% {
    opacity: 1;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(4px);
  }
}

/* Popup styling starts here */
.mainone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 208, 0.8); /* Same color with 50% transparency */
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.popup-inner {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  position: relative;
  height: 80%;
  width: 80%;
  border: 1px;
  border-radius: 16px;
  height: auto;
}

.popup-title {
  margin-top: 0;
  margin-bottom: 0px;
  display: flex;
  width: 80%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(103, 121, 142, 1);
}

.popup-content {
  align-items: center;
  justify-content: center;
}

.popup-image {
  width: 100%;
  height: auto;
}

.popup-image2 {
  display: none;
  width: 100%;
  height: auto;
}

.popup-details {
  text-align: left;
}

.popup-description {
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.popup-technologies {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  padding-bottom: 20px;
  padding-top: 16px;
}

.popup-technologies li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  /* box */
  align-items: center;
  padding: 4px 12px;
  width: auto;
  height: auto;
  background: #EBEBFF;
  border-radius: 8px;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.popup-button {
  background-color: #fff;
  cursor: pointer;
  padding: 12px 22px;
  width: 100%;
  height: 48px;
  left: 9px;
  bottom: 4px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  /* text */
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: #396df2;
  gap: 14px;
}

@media (min-width: 768px) {
  /* LANDING PAGE */

  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    margin-right: 0;
    padding-right: 0;
    padding-left: 1px;
    padding-top: 25px;
  }

  .navonmo {
    display: none;
  }

  .my-logo {
    margin-right: auto;
    width: 60%;
    height: 20px;
    margin-left: 155px;
  }

  .nav-link {
    display: flex;
    text-decoration: none;
    color: #344563;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 155px;
    gap: 32px;
    list-style: none;
    margin-top: 0;
  }

  .body {
    background-color: #e5e5e5;
  }

  .container1 {
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./images/Header\ bg@2x.png);
    border-bottom-left-radius: 70px;
    margin-bottom: 76.54px;
    width: 100%;
  }

  .introh1 {
    color: #091e42;
    margin-left: 260px;
    margin-right: 260px;
    line-height: 52px;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 359px;
  }

  .intro-p {
    color: #344563;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 15px;
  }

  .introh2 {
    color: #7f8cff;
    margin-left: 260px;
    margin-right: 260px;
  }

  .ls {
    display: inline;
    list-style: none;
    padding-right: 10px;
    padding-left: 1px;
  }

  .socials ul {
    margin-left: 114px;
    padding-left: 120px;
  }

  .socials {
    margin-left: 27px;
  }

  /* WORK/PROJECTS */
  .popup-details {
    display: flex;
  }

  .popup-buttons {
    display: flex;
  }

  .popup-description {
    width: 60%;
  }

  .popup-technologies {
    width: 40%;
    padding-left: 15px;
  }

  .popup-inner {
    max-width: 900px;
  }

  .popup-image {
    width: 100%;
    height: 450px;
  }


  .works {
    display: grid;
    margin-top: 114px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .card1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 16px;
    width: auto;
    height: auto;
    background: #fff;
    border: 1px #dfe1e6;
    border-radius: 16px;
    margin-right: 20%;
    margin-left: 20px;
  }

  .card1:hover {
    color: white;
    box-shadow: 6px 1px 90px rgba(167, 174, 255, 0.356);
    border-radius: 5px;
    border-color: #a7aeff;
  }

  .card4:hover {
    color: white;
    box-shadow: 6px 1px 90px rgba(167, 174, 255, 0.356);
    border-radius: 5px;
    border-color: #a7aeff;
  }

  .card1-paragraph {
    margin-right: 46px;
    margin-left: 1px;
  }

  .card1-img1 {
    display: inline;
    margin-right: 46px;
    width: auto;
  }

  .card2-img2 {
    display: inline;
    width: 50%;
  }

  .card1-all {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .card2-all {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 48px;
    margin-left: 15px;
  }

  .card1-h {
    margin-top: 48px;
    margin-bottom: 1px;
    margin-left: 1px;
  }

  .card1-ul1 {
    margin-bottom: 32px;
  }

  /* card two starts from here */

  .card2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding: 16px;
    width: auto;
    height: auto;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 142px;
    margin-right: 142px;
    margin-left: 142px;
  }

  .card2:hover {
    color: white;
    box-shadow: 6px 1px 90px rgba(167, 174, 255, 0.356);
    border-radius: 5px;
    border-color: #a7aeff;
  }

  .card2-canopy1 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .card2-back-end-dev1 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .card2-ul2 {
    margin-bottom: 20px;
  }

  .card2-html2 {
    display: inline;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 106px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #6070ff;
  }

  /* card three starts from here */

  .card3-h {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    margin: 12px;
    margin-bottom: 1px;
    margin-left: 1%;
  }

  .card3-all {
    padding-left: 20px;
  }

  .card3-paragraph {
    margin-right: 46px;
  }

  .card3-ul1 {
    margin-bottom: 32px;
  }

  .card3-ul2 {
    margin-bottom: 32px;
  }

  .card3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 16px;
    width: auto;
    height: auto;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 142px;
    margin-right: 142px;
    margin-left: 142px;
  }

  .card3:hover {
    color: white;
    box-shadow: 6px 1px 90px rgba(167, 174, 255, 0.356);
    border-radius: 5px;
    border-color: #a7aeff;
  }

  /* card four starts from here */

  .card4-h {
    margin-bottom: 1px;
    margin-left: 48px;
    margin-top: 48px;
  }

  .card4-ul1 {
    margin-left: 48px;
    margin-top: 20px;
  }

  .card4-ul2 {
    margin-left: 40px;
    margin-top: 24px;
    padding-left: 0;
  }

  .card4-paragraph {
    margin-left: 48px;
    margin-top: 32px;
  }

  /* ABOUT MY SELF */

  .container2 {
    background-color: white;
    width: auto;
    height: auto;
    border-top-right-radius: 90px;
    padding-bottom: 1px;
    margin-top: 146px;
  }

  .aboutme-all {
    display: flex;
    flex-direction: row;
  }

  .about-section1 {
    align-content: center;
    width: 40%;
    margin-top: 166px;
    padding-top: 1px;
  }

  .ul-abt {
    display: flex;
    flex-direction: row;
    margin-left: 105px;
  }

  .socialsabt {
    margin-bottom: 273px;
  }

  .about-myself-intro {
    display: flex;
    color: #172b4d;
    margin-left: 143px;
    margin-right: 24px;
    line-height: 52px;
    align-items: center;
    margin-bottom: 12px;
  }

  .about-my-self-intro-p {
    color: #344563;
    margin-left: 143px;
    margin-right: 36px;
    line-height: 24px;
  }

  .about-my-self-introh2 {
    line-height: 24px;
    color: #7f8cff;
    margin-left: 143px;
    margin-right: 234px;
    width: 100%;
  }

  .get-my-resume-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    margin-left: 145px;
    margin-right: 24px;
  }

  .get-my-resume-button:hover {
    background-color: #6070ff;
    color: white;
  }

  .get-my-resume-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
  }

  .language-header {
    display: grid;
    height: 24px;
    left: 12px;
    right: 78px;
    margin-bottom: 200px;
    line-height: 24px;
    align-items: center;
    color: #344563;
  }

  .list-of-lang {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .about-myself-js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    list-style: none;
    margin-top: 12px;
    gap: 10px;
    color: #253858;
  }

  .main-ul {
    margin-right: 36px;
    height: auto;
    padding-left: 1px;
  }

  .lang-div {
    margin-top: 166px;
    width: 60%;
  }

  .skills-h4 {
    width: 100%;
  }

  /* CONTACT ME */

  .contact-me-h2 {
    text-align: center;
    padding-top: 103px;
  }

  .contact-me-section {
    margin-top: -130px;
  }

  .contact-me-desktop {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    color: #ebebff;
    margin-top: 12px;
    margin-bottom: 50px;
    margin-left: 104px;
    margin-right: 104px;
  }

  .contact-me-p {
    display: none;
  }

  .form-ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    padding-left: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  #input {
    border-radius: 1px;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 300px;
    margin-left: 100px;
  }

  #form-name::placeholder {
    color: #172b4d;
    padding-left: 16px;
  }

  #form-email::placeholder {
    color: #172b4d;
    padding-left: 16px;
  }

  #form-message {
    width: 100%;
    border: 2px solid #cfd8dc;
    border-radius: 8px;
    padding-left: 2px;
  }

  #form-message::placeholder {
    color: #b3bac5;
    padding-left: 16px;
    padding-top: 14px;
  }

  .form-all {
    display: flex;
    justify-content: center;
    margin-right: 240px;
    margin-left: 240px;
  }

  #submit-button {
    width: 142px;
    height: 48px;
    margin-right: 300px;
    margin-left: 300px;
  }
}
